{
    "incubation_fill": false,
    "incubation_use_all": false,
    "incubation_priority": ["10km", "5km", "2km"],
    "incubation_restrict": {
        "2km": 901
    },
    "cp": 100,
    "initial_transfer": false,
    "pokemon_potential": 0.70,
    "evolve_pokemon": true,
    "evolve_filter": [
        "Pidgey",
        "Rattata",
        "Spearow",
        "Weedle"
    ],
}
